*{
    margin: 0;
    padding: 0;

}
.card1{
    width: 715px;
    height: 800px;
}
label {
    display: inline-block;
    width: 140px;
    text-align: right;
    margin-right: 1em;
    margin-top: 1em;

  }
  .card2{
      background-color: rgb(183, 183, 185);
  }